/* .bg-info{
    background-color: red !important;
} */

.info-background{
    background-color: #FCEAE8;
}

.categories img{
    width: 100px;
    height: 100px;
}

.custom-button{
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF4B92 100%);
}